*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Navbar */
.canva {
    background: #F1F3FF;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    background:  #0D28A6;
}

.navbar-toggler-icon {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400px;
}

.bi-list {
    width: 24px;
    height: 24px;
    left: 320px;
    top: 29px;
}


.navbar {
    background: #F1F3FF;
}

/* hero banner */
.hero  {
    background: #F1F3FF;
    position: relative;
    overflow-y: hidden;
}

.custom-margin {
    margin-top: 95px;
}

.margin-text {
    margin-top: 80px;
}

.banner {
    height: 500px;
    width: 1440px;
}
.bg {
    position: absolute;
    background-size: cover;
    margin-right: 100px;
}

.text-styled {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.text-styledd {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.btn-primaryy {
    background: #5CB85F;
    border-radius: 2px;
}

.style-button {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

/* Footer */
footer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.text-footer {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.text-footer1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.text-footer2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.brand-logo {
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
    margin-left: 80px;
}


/* Cari Mobil Form Style */
.text-styler {
    font-family: 'arial';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
}

.customlabel {
    position: relative;
    width: 195px;
}

.btn-customize {
    display: flex;
    justify-content: center;
    align-self: start;
    margin-top: 23px;
    
}

.btn-customformer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 92px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.linkhilang {
    text-decoration: none;
}

.booking {
    position: relative;
    margin-top: -55px;
    z-index: 1;
}

.bookingborder {
    width: 1047px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    background: white;
}

