*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Navbar */
.canva {
    background: #F1F3FF;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    background:  #0D28A6;
}

.navbar-toggler-icon {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400px;
}

.bi-list {
    width: 24px;
    height: 24px;
    left: 320px;
    top: 29px;
}


.navbar {
    background-color: #F1F3FF;
}

/* hero banner */
.hero, .banner {
    background-color: #F1F3FF;
    
}

/* Our Services */
h2 {
    font-size: 24px;
}

.list-icon {
    margin-left: -35px;
}

.ourservices {
    padding-top: 50px;
}

.services-text {
    padding-left: 100px;
}

/* Why Us */
.card-texty {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* Testimoni */
.custom-card-testimoni {
    background-color: #F1F3FF;
}   

.jhon {
    margin-left: 140px;
    margin-top: 10px;
}

.pencetKiri {
    border: none;
    background-color: white;
    margin-right: 24px;
}

.pencetKanan {
    border: none;
    background-color: white;
}

/* Call to action */
.cta {
    width: 1168px;
    height: 326px;
    background-color: #0D28A6;
    border-radius: 13px;
}

@media screen and (max-width: 375px){
    .custom-btn {
        margin-left: 160px;
    }
    .cta {
        width: 328px;
        height: 420px;
    }
    
}


/* Faq Section */
.faq-texty {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.faq-textyy {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.accordion-item {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    
}

.accordion-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* Footer */
footer {
    margin-top: 60px;
}

.text-footer {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.text-footer1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text-footer2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.brand-logo {
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
    margin-left: 80px;
}