*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Navbar */
.canva {
    background: #F1F3FF;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    background:  #0D28A6;
}

.navbar-toggler-icon {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400px;
}

.bi-list {
    width: 24px;
    height: 24px;
    left: 320px;
    top: 29px;
}


.navbar {
    background: #F1F3FF;
}

/* hero banner */
.hero  {
    background: #F1F3FF;
    position: relative;
    overflow-y: hidden;
}

.custom-margin {
    margin-top: 95px;
}

.margin-text {
    margin-top: 80px;
}

.banner {
    height: 500px;
    width: 1440px;
}
.bg {
    position: absolute;
    background-size: cover;
    margin-right: 100px;
}

.text-styled {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.text-styledd {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.btn-primaryy {
    background: #5CB85F;
    border-radius: 2px;
}

.style-button {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

/* Our Services */
#services {
    position: relative;
}

.text-style-bestcar {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.text-style-describe-car {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.text-style-car-check {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.list-icon {
    margin-left: -35px;
}

.ourservices {
    padding-top: 50px;
}

.services-text {
    padding-left: 100px;
}

/* Why Us */
.card-texty {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* Testimoni */
.custom-card-testimoni {
    background-color: #F1F3FF;
}   

.jhon {
    margin-left: 140px;
    margin-top: 10px;
}

.pencetKiri {
    border: none;
    background-color: white;
    margin-right: 24px;
}

.pencetKanan {
    border: none;
    background-color: white;
}

/* Call to action */
.cta {
    width: 1168px;
    height: 326px;
    background-color: #0D28A6;
    border-radius: 13px;
}

@media screen and (max-width: 375px){
    .custom-btn {
        margin-left: 160px;
    }
    .cta {
        width: 328px;
        height: 420px;
    }
    .containerz {
        max-height: 657px;
    }
    .margin-text{
        margin-top: 0;
    }
    .banner {
        width: 360px;
        height: 690px;
        position: relative;
        overflow-y: hidden;
    }
    .btn-primaryy {
        margin-bottom: 32px;
    }
    .container-mba{
        display: flex;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .services-text {
        margin: 0;
        padding: 0;
        text-size-adjust:inherit;
        margin-left: 5px;
    }
    .list-icon {
        margin-left: 1px;
    }
    .customcardbody {
        display: flex;
        margin-left: 20px;
    }
    .customcardbodyy {
        display: flex;
        margin-bottom: 20px;
    }
    .sijhon {
        position: absolute;
        display: flex;
        background-image: url(../Asset/jhon.png);
        background-repeat: no-repeat;
        left: 39px;
        
    }
    .customrow {
        display: inline-flex;
        background:cover;
        align-items: center;
        margin-bottom: 30px;
        margin-right: -80px;

    }
    .jhon2 {
        display: none;
    }
    .jalansendiri {
        display: block;
        text-align: center;
        margin-top: 50px;
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 575px) {
    .jhon2 {
        display: none;
    }
}


/* Faq Section */
.faq-texty {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.faq-textyy {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.accordion-item {
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.accordion-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* Footer */
footer {
    margin-top: 60px;
}

.text-footer {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.text-footer1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.text-footer2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.brand-logo {
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
    margin-left: 80px;
}

